<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- 先注释掉，等手动安装后再启用 -->
  <!--
  <package id="KGySoft.Drawing" version="9.2.0" targetFramework="net48" />
  <package id="KGySoft.Drawing.Core" version="9.1.1" targetFramework="net48" />
  <package id="Pfim" version="0.11.3" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="3.1.6" targetFramework="net48" />
  -->
</packages> 